.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 65%;   /* Tỷ lệ chiều cao: chỉnh được */
    height: 0;
    overflow: hidden;
    border-radius: 8px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
